/* #containerSidebar {
    position: relative;
    margin-left: 8px;
    width: 340px;
    min-width: 340px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#containerChat {
    height: 64px;
    padding: 4px;
    flex: 1 0 auto;
    border-radius: 2px;
}

#boxChat, #containerChat {
    background: #eee;
    width: 100%;
}

#boxChat {
    box-sizing: border-box;
    height: 100%;
}

#boxMessages {
    height: calc(100% - 34px);
    overflow-y: auto;
}

#boxChatInput {
    height: 34px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#formChats {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

/* .left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3D3D42;
}

.right {
  flex: 0.2;
  background-color: #242324;
  border-left: 1px solid #3D3D42;
  display: flex;
  flex-direction: column;
} */
